<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EVAN</title>
  </head>
  <body>
    <main>
    </main>
    <script src="https://unpkg.com/canvas-datagrid"></script>
    <div id="test" />
    <script>
        // create a new grid
        var grid = canvasDatagrid({
        parentNode: document.getElementById('test')
        });
    grid.data = [
    <% dt.forEach((item) => { %>
         {id:<%= item.id %>, name:'<%= item.name %>'},
        <% }) %>
        ];
    </script>
  </body>
</html>
